# Bazel
bazel-out
bazel-bin
bazel-tplat
bazel-testlogs

# Python
.DS_Store
launch.json
__pycache__

# Project files
projects/car

# Vivado
**/*.lpr
**/*.ip_user_files
**/*.runs
**/*.sim
**/*.dcp
**/*.wdf
**/*.xpr
**/*.wpc
**/*.xml
**/*.cache

# vscode
.vscode